@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: Pacifico-Regular;
    src: url(Pacifico-Regular.ttf);
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --bg-color: rgb(227, 217, 217);
    --form-bg-color: white;
    --cta-color: rgb(255, 51, 0);
    --input-focus-color: blue;
    --error-color: red;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: var(--bg-color);
}

header {
    flex-shrink: 0;
    flex-basis: clamp(15em, 40%, 40em);
    background-image: url("personal-finance.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-section {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: inline;
    max-width: 100px;
}

h1 {
    display: inline;
    font-family: Pacifico-Regular;
    font-size: 3em;
    color: white;
}

#photo-by {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.75em;
    text-align: center;
    margin-bottom: 0.5em;
}

#photo-by>a {
    color: black;
}

main {
    margin: auto 0;
    width: 100%;
}

main>p, button {
    margin: 1.5em;
    font-weight: bold;
}

main>p {
    max-width: 52ch;
}

fieldset {
    background-color: var(--form-bg-color);
    border: none;
    margin: 0;
    padding: 1.5em;
}

h2 {
    margin: 0;
}

label {
    display: block;
}

ul {
    max-width: 52ch;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

li {
    font-size: 0.6875em;
    font-weight: bold;
    list-style-type: none;
    padding: 1em 0;
    flex: 1 0 45%;
}

li:nth-of-type(even) {
    margin-left: 10%;
}

input {
    width: 100%;
    box-sizing: border-box;
}

form + p {
    font-size: 0.75em;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 0;
}

button {
    background-color: var(--cta-color);
    color: white;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.75em 2em;
}

#login {
    color: var(--cta-color);
    font-weight: bold;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 0.25em;
}

input:focus {
    outline: none;
    border: 1px solid var(--input-focus-color);
    box-shadow: 0.125em 0.125em 0.5em -0.25em var(--input-focus-color);
}

.error, .error:focus {
    border-color: var(--error-color);
}

.error-msg {
    color: var(--error-color);
}